{% extends "base.html" %}
{% load static %}

{% block noti %}
<ul>
	{% for act in activity %}
<!--	<li>{{act.user}}</li>-->
	<li>{{act.activity}} </li>
	<li>{{act.timestamp}} </li>
	{% endfor %}
</ul>
{% endblock %}

{% block content %}

<!-- Simple Datatable start -->
				<div class="card-box mb-30">
					<div class="pd-20">
						<h4 class="text-blue h4">Executive List</h4>
					</div>
					<div class="pb-20">
						<table class="data-table table stripe hover nowrap">
							<thead>
								<tr>
									<th class="table-plus datatable-nosort">Username</th>
									<th>Email</th>
									<th>Name</th>
									<th>Phone</th>
									<th>City</th>
									<th>Role</th>
<!--									<th class="datatable-nosort">Action</th>-->
								</tr>
							</thead>
							<tbody>
           					 {% for ex in executives %}
								<tr>
                                    <td>{{ ex.username }}</td>
									<td>{{ ex.email }}</td>
                                    <td>{{ ex.name }}</td>
									<td>{{ ex.phone }}</td>
									<td>{{ ex.city }}</td>
									<td>{{ ex.role }}</td>
								</tr>
							{% empty %}
							<tr>
          						  <td>No Executives Available.</td>
							</tr>
        					{% endfor %}
                            </tbody>

                        </table>
						<br>
<!--                        <button class="btn btn-primary"><a href="{% url 'expense' %}" style="color: #f9f9f9">Add Expenses</a></button>-->
				</div>
			</div>

{% endblock %}
