{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
                <div class="register-box bg-white box-shadow border-radius-40" >
                    <div class="wizard-content">
                     <form class="wizard-circle wizard" style="padding: 15px"  method="post" enctype="multipart/form-data">
                           <div class="container form-group" style="text-align: left">
                                 <h3 align="center">Add Employee Here</h3> <br>
                                     {% csrf_token %}
                                <div class="form-wrap max-width-600 mx-auto">
                                <div class="form-group row">
                                     <label class="col-sm-4 col-form-label" for="emp"> <font size="4"> Name</font></label>
                                       <div class="col-sm-8">
                                           <input type="text" id="emp" name="emp" class="form-control" required/>
                                       </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="email"><font size="4">Email</font></label>
											<div class="col-sm-8">
												<input type="email" id="email" name="email" class="form-control" required/>
											</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="dept"> <font size="4">Department</font></label>
                                        <div class="col-sm-8">
                                            <select class="form-control" name="dept" id="dept">
                                                {% for d in dp %}
                                                <option value="{{d.id}}"> {{d.department_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                </div>

                                <!--Role-->
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="role"> <font size="4">Role</font></label>
                                        <div class="col-sm-8">
                                            <select class="form-control" name="role" id="role">
                                                {% for r in myrole %}
                                                <option value="{{r.id}}"> {{r.role_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="city"><font size="4">City</font></label>
											<div class="col-sm-8">
												<input type="text" id="city" name="city" class="form-control" required/>
											</div>
                                </div>
                                    <br>
                                <div class="form-group row">
                                     <div class="col-sm-12" >
                                         <div class="text-right">
                                             <button type="submit"  class="btn btn-primary">Submit</button>
                                             <button class="btn btn-primary"><a href="{% url 'emp-table' %}" style="color: #f9f9f9">View Employees</a></button>
                                         </div>
                                     </div>
                                </div>
                            </div>
                           </div>
                     </form>
                        {% if messages %}
        					{% for message in messages %}
         						{% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        					{% endfor %}
					    {% endif %}
{% endblock %}
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>


